.cache
.bash_history
.bash_logout
Downloads
.gnome
.local
.pki
.wicd
.Xauthority
.xsession-errors
.config/google-chrome
.config/gtk-2.0
.config/htop
.config/menus
.viminfo
.lesshst
.oracle_jre_usage
.dbus
**/*.log
.java
